<ion-tabs>

    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="tab1" *ngIf="servis.oturumKontrol()">
            <ion-icon name="diamond-outline"></ion-icon>

        </ion-tab-button>

        <ion-tab-button tab="tab4" *ngIf="servis.oturumKontrol()">
            <ion-icon name="planet-outline"></ion-icon>

        </ion-tab-button>

        <ion-tab-button tab="tab2" *ngIf="servis.oturumKontrol()">
            <ion-icon name="restaurant-outline"></ion-icon>

        </ion-tab-button>

        <ion-tab-button tab="tab3" *ngIf="servis.oturumKontrol()">
            <ion-icon name="finger-print-outline"></ion-icon>

        </ion-tab-button>
        <ion-tab-button tab="login" *ngIf="!servis.oturumKontrol()">
            <ion-icon name="finger-print-outline"></ion-icon>

        </ion-tab-button>
        <ion-tab-button tab="kisidetay" hidden>
            <ion-icon name="finger-print-outline"></ion-icon>

        </ion-tab-button>
        <ion-tab-button tab="yemekdetay" hidden>
            <ion-icon name="finger-print-outline"></ion-icon>

        </ion-tab-button>

        <ion-tab-button tab="admin" *ngIf="servis.oturumKontrolAdmin()">
            <ion-icon name="settings-outline"></ion-icon>
        </ion-tab-button>

    </ion-tab-bar>

</ion-tabs>