<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            HESABIM
        </ion-title>
        <!-- Sağ üst ayarlar deneme !!! -->
        <ion-buttons slot="end">
            <ion-button color="dark" (click)="cikis()">
                <ion-icon name="log-in-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <!-- Sağ üst ayarlar deneme !!! -->
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Tab 3</ion-title>
        </ion-toolbar>
    </ion-header>
    <div style="margin-left: 5%; margin-top: 5%;">
        <ion-row>
            <ion-col size="4">
                <ion-avatar>
                    <img [src]="servis.siteUrl+'/Dosyalar/'+ uye?.uyeFoto">
                </ion-avatar>
            </ion-col>
            <ion-col size="4">
            </ion-col>
        </ion-row>
        <div *ngIf="islem==true">
            <ion-item>
                <ion-input type="file" #foto (change)="FotoSec($event)" onclick="this.value=null"></ion-input>
            </ion-item>
            <ion-button (click)="FotoGuncelle()" expand="block" fill="clear" shape="round">
                Kaydet
            </ion-button>
            <div>
                <form [formGroup]="frmGroup">
                    <ion-item>
                        <ion-label position="floating" color="danger">Şifre Değiştir
                            <ion-text color="danger">
                                <ion-icon name="at-outline"></ion-icon>
                            </ion-text>
                        </ion-label>
                        <ion-input type="text" formControlName="uyeSifre" name="uyeSifre"></ion-input>
                    </ion-item>
                    <ion-button (click)="SifreDuzenle(frmGroup.value)" color="tertiary" expand="block">
                        <ion-icon slot="start" name="fast-food"></ion-icon>
                        Kaydet
                    </ion-button>
                    <ion-item>
                        <ion-label position="floating" color="danger">Ad Soyad Değiştir
                            <ion-text color="danger">
                                <ion-icon name="at-outline"></ion-icon>
                            </ion-text>
                        </ion-label>
                        <ion-input type="text" formControlName="uyeAdSoyad" name="uyeAdSoyad"></ion-input>
                    </ion-item>
                    <ion-button (click)="AdSoyadDuzenle(frmGroup.value)" color="tertiary" expand="block">
                        <ion-icon slot="start" name="fast-food"></ion-icon>
                        Kaydet
                    </ion-button>
                </form>
            </div>
        </div>
        <ion-row>
            <ion-col size="12">
                <h6>{{uye?.uyeAdSoyad}}</h6>
            </ion-col>
        </ion-row>
    </div>
    <ion-button expand="block" fill="clear" shape="round" *ngIf="islem==true" (click)="islem=false">
        Kapat
    </ion-button>
    <ion-button expand="block" fill="clear" shape="round" *ngIf="islem==false" (click)="islem=true">
        Düzenle
    </ion-button>
    <ion-segment value="active">
        <ion-segment-button value="active" (click)="sayi=1">
            <ion-icon name="grid-outline">
            </ion-icon>
        </ion-segment-button>
        <ion-segment-button (click)="sayi=2">
            <ion-icon name="people-circle-outline">
            </ion-icon>
        </ion-segment-button>
    </ion-segment>
    <!-- yemeklerim -->
    <ion-row *ngIf="sayi==1">
        <ion-col size="12">
            <div class="post-grid">
                <ion-row>
                    <ion-col size="4" *ngFor="let kayit of yemek">
                        <img [routerLink]="['yemekdetay/',kayit?.yemekId,kayit?.YemekUyeId]" [src]="servis.siteUrl+'/Dosyalar/'+ kayit?.yemekFoto" style="width: 100%; height: 100%;">
                    </ion-col>
                </ion-row>
            </div>
        </ion-col>
    </ion-row>
    <!-- favorilerim -->
    <ion-row *ngIf="sayi==2">
        <ion-col size="12">
            <div class="post-grid">
                <ion-row>
                    <ion-col size="4" *ngFor="let fav of favori">
                        <img [routerLink]="['yemekdetay/',fav?.yemekBilgisi?.yemekId,fav?.yemekBilgisi?.YemekUyeId]" [src]="servis.siteUrl+'/Dosyalar/'+ fav?.yemekBilgisi?.yemekFoto" style="width: 100%; height: 100%;">
                    </ion-col>
                </ion-row>

            </div>
        </ion-col>
    </ion-row>
    <!-- grid sistemi deneme !!!! -->
</ion-content>