<ion-header>
    <ion-toolbar>
        <ion-title>tab4</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-searchbar showCancelButton="never" value="Tarif Ara"></ion-searchbar>
    <ion-row>
        <ion-col size="6">
            <ion-button expand="full" color="danger">Ana Yemek</ion-button>
        </ion-col>
        <ion-col>
            <ion-button expand="full" color="warning">Ara Yemek</ion-button>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="6">
            <ion-button expand="full" color="tertiary">Karma</ion-button>
        </ion-col>
        <ion-col>
            <ion-button expand="full" color="success">Tatlı</ion-button>
        </ion-col>
    </ion-row>

</ion-content>