<ion-header>
    <ion-toolbar>
        <ion-title>login</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-segment value="active">
        <ion-segment-button value="active" (click)="sayi=1">
            <ion-icon name="grid-outline">

            </ion-icon>
        </ion-segment-button>
        <ion-segment-button (click)="sayi=2">
            <ion-icon name="people-circle-outline">

            </ion-icon>
        </ion-segment-button>
    </ion-segment>


    <ion-card *ngIf="sayi==1">
        <ion-card-header>
            <ion-card-subtitle>Giriş Yap</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>


            <ion-label position="floating">E-Mail
                <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input type="text" #email name="deneme"></ion-input>

            <ion-label position="floating">Password
                <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input type="password" #parola name="parola"></ion-input>

            <ion-button color="primary" (click)="OturumAc(email.value,parola.value)">
                Login
            </ion-button>




        </ion-card-content>

    </ion-card>

    <ion-card *ngIf="sayi==2">
        <ion-card-header>
            <ion-card-subtitle>Kayıt Ol</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>

            <form [formGroup]="frmGroup">
                <ion-item>
                    <ion-label position="floating">Ad Soyad
                        <ion-text color="danger">*</ion-text>
                    </ion-label>
                    <ion-input type="text" formControlName="uyeAdSoyad"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label position="floating">E-Mail
                        <ion-text color="danger">*</ion-text>
                    </ion-label>
                    <ion-input type="text" formControlName="uyeEmail"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label position="floating">Telefon Numarası
                        <ion-text color="danger">*</ion-text>
                    </ion-label>
                    <ion-input type="text" formControlName="uyeTelefon"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label position="floating">Password
                        <ion-text color="danger">*</ion-text>
                    </ion-label>
                    <ion-input type="password" formControlName="uyeSifre"></ion-input>
                </ion-item>

                <ion-button color="primary" (click)="KayitOl(frmGroup.value)">
                    Kayıt Ol
                </ion-button>
            </form>

        </ion-card-content>
    </ion-card>

</ion-content>