<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Tarif Ekle
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
    <form [formGroup]="frmGroup">
        <ion-item>
            <ion-label position="floating" color="danger">Yemek Adı
                <ion-text color="danger">
                    <ion-icon name="at-outline"></ion-icon>
                </ion-text>
            </ion-label>
            <ion-input type="text" formControlName="YemekAdi"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label color="warning">Malzeme Seçiniz
                <ion-icon name="layers-outline"></ion-icon>
            </ion-label>
            <ion-select formControlName="malzemeId" multiple="true">
                <ion-select-option [value]="mal.malzemeId" *ngFor="let mal of malzemeler">{{mal.Malzemeler1}}
                </ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label color="success">Kategori Seçiniz
                <ion-icon name="trail-sign-outline"></ion-icon>
            </ion-label>
            <ion-select formControlName="katYemekId" value="Kategoriler" multiple="true">
                <ion-select-option [value]="kat.katYemekId" *ngFor="let kat of kategoriler">{{kat.Kategori_yemek1}}
                </ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-textarea formControlName="Tarif" color="secondary" placeholder="Tarif Giriniz">Tarif
                <ion-icon name="filter-outline"></ion-icon>
            </ion-textarea>
        </ion-item>
        <div class="post-media">
            <img [src]="secilenFoto">
            <!-- butonu düzlet -->
        </div>
        <ion-item>
            <ion-input type="file" #foto (change)="FotoSec($event)" onclick="this.value=null"></ion-input>
        </ion-item>
        <ion-button (click)="YemekEkle(frmGroup.value)" color="tertiary" expand="block">
            <ion-icon slot="start" name="fast-food"></ion-icon>
            Yemek Ekle
        </ion-button>
    </form>
</ion-content>