<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            AnaSayfa
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Anasayfa</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <div class="post-list">
        <div class="post-item" *ngFor="let ye of yemek" style="margin-top: 15%;">
            <div class="post-header">
                <ion-row class="ion-justify-content-center ion-align-items-center">
                    <ion-col size="auto">
                        <ion-avatar class="avatar-sm" [routerLink]="['kisidetay/',ye.YemekUyeId]">
                            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y" alt="" [routerLink]="['/kisidetay/',ye.YemekUyeId]">
                        </ion-avatar>
                    </ion-col>
                    <ion-col>
                        <!-- <ion-button [routerLink]="['kisidetay/',ye.YemekUyeId]">
                            <strong>{{ye.UyeBilgisi?.uyeAdSoyad}}</strong>
                        </ion-button> -->
                        <strong [routerLink]="['kisidetay/',ye.YemekUyeId]">{{ye.UyeBilgisi?.uyeAdSoyad}}</strong>



                    </ion-col>




                    <ion-col size="auto" *ngIf="ye.YemekUyeId==duzuyeid">
                        <ion-button [routerLink]="['yemek-duzenle/',ye.yemekId]" fill="clear" color="warning">
                            <ion-icon slot="icon-only" name="ellipsis-horizontal"></ion-icon>
                        </ion-button>
                    </ion-col>












                </ion-row>
            </div>
            <div class="post-media" [routerLink]="['yemekdetay/',ye.yemekId,ye.YemekUyeId]">
                <img [src]="service.siteUrl+'/Dosyalar/'+ ye.yemekFoto">
            </div>
            <div class="post-actions">
                <ion-row>
                    <ion-col>
                        <ion-button fill="clear" color="dark">
                            <ion-icon slot="icon-only" name="ribbon-outline" color="danger"></ion-icon>
                        </ion-button>
                        <ion-button fill="clear" color="dark" class="possition" (click)="FavoriEkle(ye?.yemekId)">
                            <ion-icon slot="icon-only" name="bookmark-outline" color="warning"></ion-icon>
                        </ion-button>

                    </ion-col>
                </ion-row>
            </div>
            <div [routerLink]="['yemekdetay/',ye.yemekId,ye.YemekUyeId]">
                <p style="margin-left: 5%;"><b>Yemeğin Adı :</b>{{ye.YemekAdi}}</p>
                <p style="margin-left: 5%;"><b>Yemeğin Tarifi :</b>{{ye.Tarif | slice :0:20 }}. <a> Detaylar...</a></p>
            </div>
        </div>
    </div>

</ion-content>