<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Ana Sayfa
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Tab 1</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-card *ngFor="let u of uye">
        <ion-card-header>
            <ion-chip>
                <ion-avatar>
                    <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
                </ion-avatar>
                <ion-label>{{u.uyeAdSoyad}}</ion-label>
            </ion-chip>
            <ion-card-subtitle>alt başlık</ion-card-subtitle>
            <ion-card-title>
                <img src="https://i4.hurimg.com/i/hurriyet/75/750x422/5d4015917152d80f80b3f75a.jpg">
            </ion-card-title>
        </ion-card-header>



        <ion-card-content>


            <ion-button color="light">
                <ion-icon slot="icon-only" name="ribbon-outline" color="danger"></ion-icon>
            </ion-button>
            <ion-button class="possition" color="light">
                <ion-icon name="bookmark-outline" color="warning"></ion-icon>
            </ion-button>
            <p>açıklama</p>
        </ion-card-content>
    </ion-card>

</ion-content>